*.DS_Store
/out
/Beta.properties
/twitter4j.properties
/greetings.txt
/.idea

.DS_Store

KronosTwit-1.0*
target/classes
pom.properties
nb-configuration.xml
nbactions.xml
KronosTwit.iml
KronosTWit.preferences
filtered.serialized
/persistence
/resources
/target/
*.sh
*.bat
/doc
/themes

# IDE Files
KronosTwit.iml
